USE [master]
GO
/****** Object:  Database [StudentGrade]    Script Date: 9/13/2024 10:24:44 PM ******/
CREATE DATABASE [StudentGrade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentGrade', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentGrade.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentGrade_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentGrade_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentGrade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentGrade]
GO
/****** Object:  Table [dbo].[TblStudentGrades]    Script Date: 9/13/2024 10:24:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStudentGrades](
	[stdId] [smallint] IDENTITY(1,1) NOT NULL,
	[stdNo] [char](4) NULL,
	[stdName] [varchar](20) NULL,
	[stdSurname] [varchar](20) NULL,
	[stdLecture] [varchar](20) NULL,
	[stdExam1] [tinyint] NULL,
	[stdExam2] [tinyint] NULL,
	[stdExam3] [tinyint] NULL,
	[stdAverage] [decimal](18, 2) NULL,
	[stdStatus] [bit] NULL,
 CONSTRAINT [PK_TblSrudentGrades] PRIMARY KEY CLUSTERED 
(
	[stdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
